<header class="bg-dark py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder text-white mb-2">We're ready to share our advice and experience</h1>
                  <p class="lead fw-normal text-white-50 mb-4">Our Financial Advisory practice caters to clients ranging from multinational corporates, private equity firms, owner managed businesses, and creditors, shareholders, to the public sector. Our 700+ practitioners offer specialisation in Corporate Finance & Restructuring Services</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="/login">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/assets/images/srmlogo2.jpg" alt="..." /></div>
      </div>
  </div>
</header>

<section class="py-5" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Our Services</h2></div>
          <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                      
                      <h2 class="services">Investments</h2>
                      
                      <p class="mb-0">An asset acquired or invested in to build wealth and save money from the hard earned income or appreciation.</p>
                  </div>
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                      <h2 class="services">Financial Planning</h2>
                      <p class="mb-0">Taking a comprehensive look at your financial situation and building a specific financial plan to reach your goals.</p>
                  </div>
                  <div class="col mb-5 mb-md-0 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                      <h2 class="services">Debt Plan</h2>
                      <p class="mb-0">We can afford the monthly repayments on your priority debts (such as mortgage, rent and council tax) and your living costs</p>
                  </div>
                  <div class="col h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                      <h2 class="services">Loan Assistance</h2>
                      <p class="mb-0">Loans are an option to help cover your education costs and there are several types of loans available. Research your options before making a choice of a loan program to pursue.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                  <div class="fs-4 mb-4 fst-italic">"Annual income twenty pounds, annual expenditure nineteen six, result happiness. Annual income twenty pounds, annual expenditure twenty pound ought and six, result misery."</div>
                  <div class="d-flex align-items-center justify-content-center">
                      
                      <div  class="my-name" class="fw-bold">
                          Sethuraman
                          <span class="fw-bold text-primary mx-1">/</span>
                          CEO, SRM Solutions
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
