.foot{



  background-color: aquamarine;

 

  color: brown;

 

  size: 40%;

 

  align-content: center;

 

  align-items: center;

 

  text-align: center;

 

 

 

 

  }